article, aside, figure, footer, header, nav, section {
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    width: 650px;
    border: 3px solid #195030;
}
#container {
    background-color: #195030;
}
#date{
    position: relative;
    border: 3px solid rgb(38, 105, 145);
    border-style: solid;
    border-width: 10px;
    margin: 0;
    text-align: center;
 
}
#calculate {
    color:orange;
}
#left{
    text-align: left;
    color:white;
    
}
h1 {
    color:white;
    text-align: center;
    margin-top: 0;
}
#button-effect{
    border: 4px solid rgb(38, 105, 145);
    border-style: solid;
    border-width: thin;
    background-color: orange;
    margin:10px;
    border-radius:10px;
    height : 50px;
    color:white;
    margin-left: 500px;
    
    
}
section {
    padding: 1em 2em;
}
label {
    float: left;
    width: 16em;
    text-align: right;
}
input {
    margin-left: 1em;
    margin-bottom: .5em;
}
